<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" />
    <title>SSW Property</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
    <!--HEADER-->
    <%- include ('header')%>
        <section class="py-5">
            <div class="container px-4 px-lg-5">
                <div class="row-cols-1 input-group-text">
                    <form action="/search" method="GET">
                        <input class="form-group-sm" type="text" name="keyword" id="" size="50" placeholder="Please input keywords" />
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </form>
                </div>
            </div>

            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
                    <%items.forEach((item) => { %>
                        <div class="col mb-5">


                            <div class="card h-100" style="width: 18rem;">
                                <img class="card-img-top" src="/property/<%= item.image_01 %>" alt="condo img">
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h5 class="card-title">
                                            <%= item.real_estate_name %>
                                        </h5>
                                        <p>
                                            <%= item.LOCATION %>
                                        </p>
                                        <p>
                                            <%= item.property_type %>
                                        </p>
                                        <h5 class="fw-bold">ขาย
                                            <%= item.SALE_PRICE %>
                                        </h5>
                                        <h5 class="fw-bold">เช่า
                                            <%= item.RENT_PRICE %>
                                        </h5>
                                        <a href="/property_detail/<%= item.id %>" class="btn btn-primary">Detail</a>
                                        <div class="card-footer p-4 pt-0 border-top-0 text-center">2 days ago</div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <% }); %>
                </div>
            </div>

        </section>
        <!--FOOTER-->
        <%- include ('footer')%>
</body>

</html>