<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header') %>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!--sidebar-->
        <%- include('menu') %>
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Toggle menu</button>
                    </div>
                </nav>

                <!---------------------------->
                <div class="container-fluid">
                    <div>
                        <h1 class="mt-4">WELCOME,
                            <%= name %>
                        </h1>
                        </br>
                        <p>You are
                            <%= role %>
                        </p>
                    </div>
                </div>

                <!---------------------------->
            </div>
    </div>
    <%- include('footer') %>

</body>

</html>