<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header') %>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!--sidebar-->
        <%- include('menu') %>
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Toggle menu</button>
                    </div>
                </nav>

                <!---------------------------->
                <div class="container-fluid">
                    <div>
                        <h1 class="mt-4">Manage User</h1>
                        <% if(users[0].role == 'user') { %>
                            <p>Email :
                                <%= users[0].email %>
                            </p>
                            <p>Password :
                                <%= users[0].password %>
                            </p>
                            <p>Name :
                                <%= users[0].name %>
                            </p>
                            <p>Telephone :
                                <%= users[0].phone %>
                            </p>
                            <p>Role :
                                <%= users[0].role %>
                            </p>
                            <% }else{ %>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">email</th>
                                            <th scope="col">password</th>
                                            <th scope="col">name</th>
                                            <th scope="col">phnoe</th>
                                            <th scope="col">role</th>
                                            <th scope="col">Edit</th>
                                        </tr>
                                    </thead>
                                    <% users.forEach((user) => { %>
                                        <tr>
                                            <form action="/dashboard/user/edit" method="POST">
                                                <td>
                                                    <%= user.id %>
                                                </td>
                                                <td>
                                                    <%= user.email %>
                                                </td>
                                                <td>
                                                    <%= user.password %>
                                                </td>
                                                <td>
                                                    <%= user.name %>
                                                </td>
                                                <td>
                                                    <%= user.phone %>
                                                </td>
                                                <td>
                                                    <% if(user.role == 'admin') {%>
                                                        <select name="newrole" id="">
                                                            <option selected value="admin">admin</option>
                                                            <option value="user">user</option>
                                                        </select>
                                                        <% }else{ %>
                                                            <select name="newrole" id="">
                                                                <option  value="admin">admin</option>
                                                                <option selected value="user">user</option>
                                                            </select>
                                                            <% } %>
                                                </td>
                                                <td>
                                                    <input type="hidden" name="id" value="<%= user.id %>">
                                                    <input type="submit" name="submit" value="Edit ">
                                                </td>
                                            </form>
                                        </tr>
                                        <% }) %>
                                            <tr colspan="6 "></tr>
                                </table>
                                <% } %>
                    </div>
                </div>

                <!---------------------------->
            </div>
    </div>
    <%- include('footer') %>
</body>


</html>